<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://kit.fontawesome.com/84cd854e91.js" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5654J26FXT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-5654J26FXT");
    </script>
    <link rel="stylesheet" href="css/styles.css" />
    <title>About Us</title>
</head>
<body>
    {{>header}}

    <div>
        <br><br><br>
      <h1>Hello</h1>

    {{>footer}}
    <script src="/js/clientSide.js"></script>

</body>
</html>