<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login Page</title>
</head>
<body class="body-login">
    <div class="login-div">
        <form enctype="application/x-www-form-urlencoded" action="/login-data" method="POST">
        <input type="text" value=""  name="email" placeholder="Email" >
        <input type="password" value=""  name="password" placeholder="Password" >
        <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>